#main
  %h2 All products

  %p
    Session:
    - if session[:sort] != nil
      = "sort: |#{session[:sort]}|"
    - else
      = "sort: |UNDEFINED|"
    - if session[:filter] != nil
      = "filter: min_age |#{session[:filter][:min_age]}|"
      = "filter: max_price |#{session[:filter][:max_price]}|"
    - else
      = "filter: |UNDEFINED|"

  %p
    = form_tag products_path, method: 'get' do
      = label_tag "minimum age"
      = number_field_tag "filter[min_age]", nil, min: 0
      = label_tag "maximum price"
      = number_field_tag "filter[max_price]", nil, min: 0, :step => 0.1
      = submit_tag "filter products"

  %p= link_to 'Create a new product', new_product_path

  - unless @products.empty?
    %table.products_table
      %tr.products_header
        %th= link_to "Name", products_path(sort: "name")
        %th Image
        %th Description
        %th= link_to "Appropriate ages", products_path(sort: "minimum_age_appropriate")
        %th#price= link_to "Price", products_path(sort: "price")
      - @products.each do |p|
        %tr
          %td.productname= link_to "#{p.name}", product_path(p)
          %td= image_tag p.image.url(:thumb)
          %td= p.description
          %td= p.age_range
          %td#price= number_to_currency(p.price)
  - else
    %h3= "No Items Found!"
