#main
  %h3 All products

  %p= link_to 'Create a new product', new_product_path

  %table.products_table
    %tr.products_header
      %th= link_to "Name", products_path(sort: "name")
      %th Image
      %th Description
      %th= link_to "Appropriate ages", products_path(sort: "minimum_age_appropriate")
      %th#price= link_to "Price", products_path(sort: "price")
    - @products.each do |p|
      %tr
        %td.productname= link_to "#{p.name}", product_path(p)
        %td= image_tag p.image.url(:thumb)
        %td= p.description
        %td= p.age_range
        %td#price= number_to_currency(p.price)

